.admin-area table.admin {
    width: 100%;
    border-collapse: collapse;
    margin: 0px auto;
}

.admin-area table.admin th, table.admin td {
    padding: 10px 15px;
}

.admin-area table.admin tr:nth-child(even) {
    background: #e1e1e1;
}

.div_paginate {
    text-align: center;
}

.admin-area table.admin .actions {
    font-size: 15px !important;
}

.admin-area textarea.description {
    width: 100%;
}
.admin-area .vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.admin-area .images-wrapper div {
    max-height: 100px;
}

.categories_home_view {
}

.categories_home_view .item {
    border: 1px dotted #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.products_categories {
}

.products_categories .item {
    border: 1px dotted #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.poststars .stars { font-size:2em; }
.poststars .stars input { display:none; }
.poststars .stars label i { color: #cbcbcb; }
.poststars .stars label i.checked { color: #36f302; }
